{{ form_start(teacherForm) }}
    {{ form_row(teacherForm.name) }}
    {{ form_row(teacherForm.department) }}
    {{ form_row(teacherForm.age) }}
    {{ form_row(teacherForm.isEmployee) }}

<button type="submit" class="btn btn-primary" formnovalidate>Save</button>

{{ form_end(teacherForm) }}