{% extends 'base.html.twig' %}

{% block title %}Miss {{ teacher.name }}{% endblock %}

{% block body %}
    <h2 class="genus-name">{{ teacher.name }}</h2>


    <div class="sea-creature-container">
        <div class="teacher-photo"></div>
        <div class="genus-details">
            <dl class="genus-details-list">
                <dt>Department:</dt>
                <dd>{{ teacher.department.name }}</dd>
                <dt>Birthday:</dt>
                <dd>{{ teacher.age|date('d/M') }}</dd>
                <dt>Part of the Staff:</dt>
                <dd>
                    {% if teacher.isEmployee  %}YES{% endif %}
                    {% if not teacher.isEmployee  %}NO{% endif %}
                <dd>
                <dt>Teaching: {{ courses_count }} Course(s)</dt>
                {% for course in courses %}
                    <dd>
                        <a href="{{ path('course_show', {'courseName': course.name}) }}">
                            {{ course.name }}
                        </a>
                    </dd>
                {% endfor %}
            </dl>
        </div>
    </div>

    <div id="js-notes-wrapper"></div>

{% endblock %}